---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Datenschutzerklärung | Paul Dresch" description="Über mich | Paul Dresch">
	<div class="stack gap-20" style="max-width: 800px; margin: 0 auto; padding: 20px;">
		<main>
            <section>
                <h2 style="font-weight: bold; margin-bottom: 15px;">Allgemeine Hinweise</h2>
                <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.</p>
            </section>

            <section style="margin-top: 30px;">
                <h2 style="font-weight: bold; margin-bottom: 15px;">Datenerfassung auf unserer Website</h2>
                <h4 style="font-weight: semi-bold; margin-top: 20px; margin-bottom: 10px;">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
                <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.</p>

                <h4 style="font-weight: semi-bold; margin-top: 20px; margin-bottom: 10px;">Wie erfassen wir Ihre Daten?</h4>
                <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben. Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.</p>

                <h4 style="font-weight: semi-bold; margin-top: 20px; margin-bottom: 10px;">Wofür nutzen wir Ihre Daten?</h4>
                <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>

                <h4 style="font-weight: semi-bold; margin-top: 20px; margin-bottom: 10px;">Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
                <p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen.</p>
            </section>
		</main>
	</div>
</BaseLayout>
